{% load zefarak_tags %}
<div class="col-6">
    <div class="form-group">
        <h6>ΤΙΜΟΚΑΤΑΛΟΓΟΙ</h6>
        {% for price in price_list %}
            <div class="form-check">
                <label class="form-check-label">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value="{{ price.id }}"
                            name="price_list_name"
                            {% if price.id|stringformat:"s" in request.GET|get_item:"price_list_name" %} checked {% endif %}
                    >
                    {{ price }}
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        {% endfor %}
    </div>
</div>