{% extends 'dashboard.html' %} {% load static %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <a href="{% url 'costumers:home' %}" class="btn btn-warning pull-right">Επιστροφη</a>
                        </div>
                        <div class="card-body text-center">
                    
                            <div class="row">
                                <div class='col-4'>
                                    <table class="table table-bordered">
                                        
                                        <tbody>
                                            <tr>
                                                <th>Πελατης</th>
                                                <td>{{ object.costumer }} - {% if instance.locked %} locked {% else %} not {% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th>ΑΦΜ</th>
                                                <td>{{ object.profile.afm }} {{ object.profile.doy }}</td>
                                            </tr>
                                            <tr>
                                                <th>Διευθυνση</th>
                                                <td>{{ object.profile.destination_city }} 
                                                    {% if object.profile.transport %}
                                                        {{ object.profile.transport }} 
                                                    {% endif %}
                                                    {% if object.profile.phone %}
                                                    {{ object.profile.phone }} 
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>ΕΠΑΓΓΕΛΜΑ</th>
                                                <td>{{ object.profile.job_description }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class='col-4'>
                                    <a class="btn btn-success" href="{% url 'costumers:print_invoice' object.id %}" target="_blank">
                                        <i class="fa fa-print"></i> Εκπτυπωση</a>
                                    {% if not object.locked %}
                                        <a href="{% url 'costumers:invoice_locked' object.id %}" onclick="return confirm('ΕΙΣΑΙ ΣΙΓΟΥΡΟΣ ΠΩΣ ΘΕΣ ΝΑ ΚΛΕΙΔΩΣΕΙΣ ΤΟ ΠΑΡΑΣΤΑΤΙΚΟ')" class="btn btn-warning">Κλειδωμα</a>
                                        <a href="{% url 'costumers:delete_payment_invoice' object.id %}" onclick="return confirm('ΕΙΣΑΙ ΣΙΓΟΥΡΟΣ ΠΩΣ ΘΕΣ ΝΑ ΔΙΑΓΡΑΨΕΙΣ ΤΟ ΠΑΡΑΣΤΑΤΙΚΟ')" class="btn btn-danger">Διαγραφη</a>
                                    {% endif %}
                                </div>
                                <div class='col-4'>
                                    <table class="table table-bordered">
                                        
                                        <tbody>
                                            <tr>
                                                <th>Ημερομηνια</th>
                                                <td>{{ object.date }}</td>
                                            </tr>
                                            <tr>
                                                <th>ΣΕΙΡΑ</th>
                                                <td>{{ object.get_series_display }}-{{ object.number }}</td>
                                            </tr>
                                            <tr>
                                                <th>ΕΙΔΟΣ -ΣΚΟΠΟΣ</th>
                                                <td>{{ object.get_order_type_display }} - {{ object.get_purpose_of_moving_display }}</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            {% if object.locked %}
                        <div class="alert alert-danger" role="alert">
                            ΠΡΟΣΟΧΗ ΕΧΕΤΕ ΚΛΕΙΔΩΣΕΙ ΤΟ ΠΑΡΑΣΤΑΤΙΚΟ
                        </div>
                    {% endif %}
                            <div class="product_container">
                                {% include 'costumers/ajax/order_items.html' %}
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            
            <div class="col-4">
                <div class="card mt-3 tab-card">
                    {% if object.locked %}
                        <div class="alert alert-danger" role="alert">
                            ΠΡΟΣΟΧΗ ΕΧΕΤΕ ΚΛΕΙΔΩΣΕΙ ΤΟ ΠΑΡΑΣΤΑΤΙΚΟ
                        </div>
                    {% endif %}
                    {% if paymentinvoice.locked %}
                    <h4>Προϊοντα</h4>
                    <form method="get" class="form">
                        <div class="form-group">
                            <label></label>
                            <input name="q" value="{{ request.GET.q }}" type="text" class="form-control" placeholder="Αναζητηση">
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Προϊον</th>
                            <th>Τιμή</th>
                            <th>-</th>
                            <th>-</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product }}</td>
                                    <td>{{ product.final_value }}</td>
                                    <td></td>
                                    <td><a name='q' href="{% url 'costumers:add_product_to_invoice'  object.id product.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> </a> </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="card-header tab-card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="Two" aria-selected="true">Προϊοντα</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="false">Επεξεργασια Πελατη</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Επεξεργασια Τιμολογίου</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Two" aria-selected="false">Επιλογη Πληρωμης</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="four" role="tabpanel" aria-selected="four-tab">
                            <h4>Προϊοντα</h4>
                            <form method="get" class="form">
                                <div class="form-group">
                                    <label></label>
                                    <input name="q" value="{{ request.GET.q }}" type="text" class="form-control" placeholder="Αναζητηση">
                                </div>
                            </form>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Προϊον</th>
                                    <th>Τιμή</th>
                                    <th>-</th>
                                    <th>-</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product }}</td>
                                            <td>{{ product.final_value }}</td>
                                            <td></td>
                                            <td><a name='q' href="{% url 'costumers:add_product_to_invoice'  object.id product.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> </a> </td>
                                        </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fadep-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <h5 class="card-title">Επεξεργασια Πελατη</h5>
                            <form method="post" class="form" action="{% url 'costumers:update_invoice_profile' object.profile.id %}">
                                {% csrf_token %}
                                {{ costumer_form }}
                                <button type="submit" class="btn btn-success update_profile"><i class="fa fa-save"></i> </button>
                            </form>
                        </div>
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                            <h5 class="card-title">Επεξεργασια Τιμολογίου</h5>
                            <form class="form" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> </button>
                            </form>
                        </div>
                        <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                            <h5 class="card-title text-center">Εντολη Πληρωμης</h5>
                            <h6 class="text-center">Σημειωσεις</h6>
                            {% if order %}
                                {{ order.description|safe }}
                            {% else %}
                                <p>No data</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Στοιχεια Τιμολογίου</h4>
                    </div>
                    <div class="card-body order_details">
                        {% include 'costumers/ajax/order_details.html' %}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title"></div>
                    </div>
                    <div class="card-body">
                        <h4>ΠΡΟΣΘΗΚΗ</h4>
                        {% if object.locked %}
                            <div class="alert alert-danger" role="alert">
                                ΠΡΟΣΟΧΗ ΕΧΕΤΕ ΚΛΕΙΔΩΣΕΙ ΤΟ ΠΑΡΑΣΤΑΤΙΚΟ
                            </div>
                        {% endif %}
                            <h4>ΔΗΜΙΟΥΡΓΙΑ ΠΡΟΪΌΝΤΟΣ</h4>
                            <form method="post" class="form" id="add_form">
                                {% csrf_token %}
                                {{ item_form }}
                                <button data-href="{% url 'costumers:ajax_create_item' object.id %}" class="btn btn-success create_item_submit"><i class="fa fa-save"></i> </button>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
    <script>
        (function($) {
            $('#add-form').click(function() {
                var index = $('#id_inline_test_models-TOTAL_FORMS').val()
                var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
                newTable.find(':input').each(function() {
                    for (attr of ['name', 'id'])
                        $(this).attr(
                            attr,
                            $(this).attr(attr).replace('__prefix__', index)
                        )
                })
                newTable.insertBefore($(this))
                $('#id_inline_test_models-TOTAL_FORMS').val(
                    parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
                )
                newTable.slideDown()
            })
        })($)
</script>
    <script>
        $('.create_item_submit').click(function (evt) {
            evt.preventDefault();
            const myBtn = $(this);
            const form_data = myBtn.closest("form").serialize();
            const url = myBtn.attr('data-href');
            $.ajax({
                method: 'POST',
                dataType: 'json',
                data: form_data,
                url: url,

                success: function (data) {
                    $("#id_title").val('');
                    $("#id_value").val('0');
                    $("#id_qty").val('1');
                    $("#id_sell_price").val('0');
                    $("#id_taxes_modifier").val('1');
                    $('#id_discount').val('0');
                    $('.product_container').html(data.result);
                    $('.order_details').html(data.details);
                }
            })
        })
    </script>

    <script>
        $('.delete_button').click(function (evt) {
            evt.preventDefault();
            const myBtn = $(this);
            const url = myBtn.attr('data-href');
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url:  url,

                success: function (data) {
                    $('.product_container').html(data.result);
                    $('.order_details').html(data.details);
                }
            })
        })
    </script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}

{% endblock %}

